HOSTNAME=<%= hostname %>
DATA_URL=postgresql://localhost:5432
DATA_USER=postgres
DATA_PASSWORD=mysecretpassword
# Optional
AUTORELEASEVERSION
TLSENABLED
INFO
DESCRIPTION
DISCOVERY_EXCLUSIONS
CORS_ALL
CORS_HOSTS
DATA_SCHEMA
DATA_AUTOCREATEDELTA
DATA_MIGRATIONNAME
CATALYST_ENABLED
CATALYST_ANONYMOUS
CATALYST_SERVERNAME
CATALYST_TLSENABLED
CATALYST_TITLE
CATALYST_DESCRIPTION
SECURITY_ENABLED
SECURITY_ISSUER
SECURITY_SCOPES
SECURITY_CLIENTID
SECURITY_CLIENTSECRET
SECURITY_AREAASSIST_CLIENTID
SECURITY_AREAASSIST_CLIENTNAME
SECURITY_AREAASSIST_ACCOUNTCONSOLE
SECURITY_GROUPS_USER
SECURITY_GROUPS_SUPERADMIN