services:
  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_USER=${DATA_USER}
      - POSTGRES_PASSWORD=${DATA_PASSWORD}
      - POSTGRES_DB=DiCentraDev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: